<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>Please enter a person login</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Custom styles for this template-->
        <link href="../css/navbar-static-top.css" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">HW2 - CIS550</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <li><a href="/">Your Work</a></li>
                    <li class="active"><a href="/insert">Insert a new record</a></li>
                    <li><a href="/reference">Reference</a></li>
                    <li><a href="/family">Show Family</a></li>
                </div>
            </div>
        </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
             <div class="jumbotron">
         <div ng-controller="insertController">
        <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Enter details to insert:
        </p>
            Login: <input type="text" name="login" ng-model="login" value=""/></br>
            Name: <input type="text" name="name" ng-model="name" value=""/></br>
            Sex: <input type="text" name="sex" ng-model="sex" value=""/></br>
            RelationshipStatus <input type="text" name="RelationshipStatus" ng-model="RelationshipStatus" value=""/></br> 
            Birthyear <input type="text" name="Birthyear" ng-model="Birthyear" value=""/></br>
            <button type="button" ng-click="Insert()" class="button">Insert</button></br>
        </div>
    </body>
</html>