<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <!-- Custom styles for this template-->
      <link href="../css/navbar-static-top.css" rel="stylesheet">
   </head>
   <body data-spy="scroll" data-target=".scrollspy">
      <header></header>
      <!-- Static navbar-->
      <nav role="navigation" class="navbar navbar-static-top navbar-default">
         <div class="container">
            <div class="navbar-header">
               <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a href="#" class="navbar-brand">HW2 - CIS550</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <li><a href="/">Your Work</a></li>
               <li><a href="/insert">Insert a new record</a></li>
               <li class="active"><a href="/reference">Reference</a></li>
               <li><a href="/family">Show Family</a></li>
            </div>
         </div>
      </nav>
      <div class="container">
         <!-- Main component for a primary marketing message or call to action-->
         <div class="jumbotron">
            <div class="main-content">
               <div class="container">
                  <div class="list-group"></div>
                  <a href="#" class="list-group-item active">Reference</a>
                  <a href="https://blog.risingstack.com/node-hero-tutorial-getting-started-with-node-js/" class="list-group-item">Getting Started With Node.js Tutorial</a>
                  <a href="http://www.cs.bham.ac.uk/~pxc/web/infoweb/IW-JavaScript.html" class="list-group-item">Introduction to JavaScript for Java Programmers</a>
                  <a href="http://www.ibm.com/developerworks/library/j-javadev2-18/" class="list-group-item">Java development 2.0: JavaScript for Java developers</a>
                  <a href="http://www.tutorialspoint.com/javascript/javascript_builtin_functions.htm" class="list-group-item">Javascript Basics Tutorial</a>
                  <a href="http://nodeguide.com/beginner.html" class="list-group-item">Felixs Node.js Beginners Guide</a>
                  <a href="http://javascriptissexy.com/learn-node-js-completely-and-with-confidence/" class="list-group-item">Learn Node.js Completely and with Confidence</a>
               </div>
               <br><br>
               <div class="container"></div>
               <p>
               <h5>You may use the drop down menu in "Your work".</h5>
               </p>
               <form method="get" action="/person">
                  <p>
                     <select name="name">
                        <option value="awest@gmail.com">awest@gmail.com</option>
                        <option value="lizashton@yahoo.com">lizashton@yahoo.com</option>
                     </select>
                  </p>
                  <input type="submit" value="Submit">
               </form>
            </div>
            <div class="sidebar"></div>
         </div>
      </div>
      <footer class="footer">
         <div class="container">
            <p class="text-muted">Running on node with Express, AngularJS, Bootstrap</p>
         </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   </body>
</html>